body {
    margin: 0100px;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
}

.weather-card {
     linear-gradient(
    rgba(0, 255, 255, 0.5),   /* cyan with transparency */
    rgba(255, 255, 255, 0.5)  /* white with transparency */
);
	 position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;
    padding: 20px;
    width: 450px;
    margin-top: 50px; /* 👈 add this */
}
/* Rows */
.row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

/* Boxes */
.box {
     padding: 10px;
    border-radius: 10px;
    width: 45%;
    font-weight: bold;

    display: flex;              /* enable flex */
    justify-content: center;    /* horizontal center */
    align-items: center;        /* vertical center */
    text-align: center;
}

/* Different colors */
.city-box {
    background-color: #ffcccb;
	height:20vh;
}

.date-box {
    background-color: #add8e6;
    font-size: 14px;
	height:20vh;
	
}

.temp-box {
    background-color: #90ee90;
    font-size: 22px;
	height:20vh;
}

.desc-box {
    background-color: #fdd835;
	height:20vh;
}

.wind-box {
    background-color: #ff8a65;
    width: 100%;
	height:20vh;
}

/* Image */
#weather-icon {
    width: 100px;
    margin: 10px 0;
}

/* Input & Button */
#city-input {
    padding: 10px;
    margin: 10px;
    width: 70%;
}

#city-input-btn {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

/* Hide initially */
#weather-info {
    display: none;
}
